<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OK</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">


</head>

<body>
<div style="margin-top: 30px;text-align: center">
    <button id='ok' class="btn btn-success btn-lg">กดเพื่อยืนยัน!!</button>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script>
        liff.init(function(data){

        },function(err){
            alert(err)
        });

        $('#ok').click(function(){
            liff.sendMessages([
                {
                    type:'text',
                    text:'ฉันลงทะเบียนเรียบร้อยแล้ว'
                }
            ]);

            liff.closeWindow();
        })

</script>
</body>

</html>